.navbar-width {
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is above other content */
}

.navbar-link {
    text-decoration: none;
    font-size: 20px;
    /* margin-right: 1100px; */
    color: #fff; /* Default color */
}

.navbar-link.active {
    text-decoration: none;
}

.navbar-link:hover {
    color: #ccc; /* Change the color to your desired hover color */
}
